{{define "widgets-docs"}}
{{if .Site.Config.Analytics.Enabled}}{{feedbackWidgetFor .Site.Config.Analytics "docs"}}{{newsletterFormFor .Site.Config.Analytics "docs"}}{{end}}
{{end}}

{{define "widgets-faq"}}
{{if .Site.Config.Analytics.Enabled}}{{feedbackWidgetFor .Site.Config.Analytics "faq"}}{{newsletterFormFor .Site.Config.Analytics "faq"}}{{end}}
{{end}}

{{define "widgets-kb"}}
{{if .Site.Config.Analytics.Enabled}}{{feedbackWidgetFor .Site.Config.Analytics "kb"}}{{newsletterFormFor .Site.Config.Analytics "kb"}}{{end}}
{{end}}

{{define "widgets-legal"}}
{{if .Site.Config.Analytics.Enabled}}{{feedbackWidgetFor .Site.Config.Analytics "legal"}}{{newsletterFormFor .Site.Config.Analytics "legal"}}{{end}}
{{end}}

{{define "widgets-changelog"}}
{{if .Site.Config.Analytics.Enabled}}{{feedbackWidgetFor .Site.Config.Analytics "changelog"}}{{newsletterFormFor .Site.Config.Analytics "changelog"}}{{end}}
{{end}}

{{define "widgets-portfolio"}}
{{if .Site.Config.Analytics.Enabled}}{{feedbackWidgetFor .Site.Config.Analytics "portfolio"}}{{newsletterFormFor .Site.Config.Analytics "portfolio"}}{{end}}
{{end}}

{{define "widgets-contact"}}
{{if .Site.Config.Analytics.Enabled}}{{newsletterFormFor .Site.Config.Analytics "contact"}}{{end}}
{{end}}
