{{define "nav"}}
<nav class="navigation">
    <ul class="nav-list">
        {{range .Site.Navigation.Items}}
        {{template "nav-item" (dict "Item" . "BasePath" $.BasePath)}}
        {{end}}
    </ul>
</nav>
{{end}}

{{define "nav-item"}}
<li class="nav-item{{if .Item.Active}} active{{end}}">
    {{if .Item.Path}}
    <a href="{{.BasePath}}{{.Item.Path}}" class="nav-link">{{.Item.Title}}</a>
    {{else}}
    <span class="nav-section">{{.Item.Title}}</span>
    {{end}}

    {{if .Item.Children}}
    <ul class="nav-list nav-list-nested">
        {{range .Item.Children}}
        {{template "nav-item" (dict "Item" . "BasePath" $.BasePath)}}
        {{end}}
    </ul>
    {{end}}
</li>
{{end}}
